@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --peach-dark: #e7816b;
  --peach-light: #ffad9b;
  --dark-black: #1d1c1e;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Typography */

h1 {
  color: #fff;
  font-size: 3.2rem;
  line-height: 3.7rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}

h2 {
  font-size: 3.2rem;
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}

.body-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .body-text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.nav-item {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: 0.15s ease-in;
}

.nav-item li:hover {
  border-bottom: 1px solid var(--dark-grey);
}

/* Utils */

.btn-primary,
.btn-secondary {
  border-radius: 8px;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 1.7rem 1.9rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
  transition: 0.15s ease-in;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1px;
}

.btn-primary {
  color: var(--dark-grey);
  background-color: #fff;
}

.btn-form {
  padding: 1.7rem 4.8rem;
}

.btn-secondary {
  color: #fff;
  background-color: var(--peach-dark);
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: var(--peach-light);
  color: #fff;
}

.overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  height: 100rem;
  width: 100vw;
}

/* Home */

.home-hero::before {
  content: "";
  background-image: url("../public/images/home/desktop/image-hero-phone.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  max-width: 37.5rem;
  transform: translateX(-50%) translateY(35rem) scale(1.65);
}

@media screen and (min-width: 1024px) {
  .home-hero::before {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    right: 50%;
    max-width: 37.5rem;
    transform: translateX(9rem) translateY(10.5rem) scale(1.65);
  }
}

.home-hero-design {
  content: "";
  background-image: url("../public/images/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
}

@media screen and (min-width: 786px) {
  .home-hero-design {
    background-position-x: right;
  }
}

/* Shared  */

.footer-cta {
  background-image: url("../public/images/shared/desktop/bg-pattern-call-to-action.svg");
  background-position: 40%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .footer-cta {
    background-position: right;
  }
}

.home-design1,
.home-design2 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.home-design1 {
  background-image: url("../public/images/shared/desktop/bg-pattern-leaf.svg");
  background-position: center;
  top: 43.5rem;
  left: 0;
  width: 100.6rem;
  height: 59.4rem;
}

.home-design2 {
  background-image: url("../public/images/shared/desktop/bg-pattern-leaf.svg");
  width: 100.6rem;
  height: 59.4rem;
  transform: rotate(180deg);
  right: 0;
  top: 184rem;
}

@media screen and (min-width: 1024px) {
  .home-design1,
  .home-design2 {
    opacity: 1;
  }
}

.design-page-bg {
  background-image: url("../public//images//shared/desktop/bg-pattern-leaf.svg");
  background-repeat: no-repeat;
  background-position-y: 12.6rem;
}

.social-icons:hover {
  filter: brightness(0) saturate(100%) invert(65%) sepia(76%) saturate(210%)
    hue-rotate(322deg) brightness(98%) contrast(109%);
}

.hero-web {
  background-image: url("../public/images/web-design/desktop/bg-pattern-intro-web.svg");
}

.hero-app {
  background-image: url("../public/images/app-design/desktop/bg-pattern-intro-app.svg");
}

.hero-graphic {
  background-image: url("../public/images/graphic-design/desktop/bg-pattern-intro-graphic.svg");
}

.hero-web,
.hero-app,
.hero-graphic {
  background-repeat: no-repeat;
  background-position-x: right;
}

@media screen and (min-width: 768px) {
  .hero-web,
  .hero-app,
  .hero-graphic {
    background-position: left;
  }
}

@media screen and (min-width: 1024px) {
  .hero-web {
    background-position: right;
  }
}

/* About Us  */

.talent-feature-bg {
  background-image: url("../public/images/shared/desktop/bg-pattern-three-circles.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

@media screen and (min-width: 1024px) {
  .talent-feature-bg {
    background-position-x: 30rem;
  }
}

.about-design1,
.about-design2 {
  position: absolute;
  z-index: -1;
  background-image: url("../public/images/shared/desktop/bg-pattern-leaf.svg");
  display: none;
}

.about-design1 {
  top: 32rem;
  left: 0;
}

.about-design2 {
  bottom: 113rem;
  right: -40rem;
}

/* Location */

.location-card-bg {
  background-color: #fdf3f0;
  background-image: url("../public/images/shared/desktop/bg-pattern-three-circles.svg");
  background-repeat: no-repeat;
  background-position-y: -24.5rem;
  background-position-x: center;
}

/* Contact  */
input,
textarea {
  font-size: 1.5rem;
  display: block;
  color: #fff;
  font-weight: 700;
  outline: 0;
  background: none;
  border-bottom: 1px solid white;
  padding: 2.5rem 1.4rem 1.8rem;
  caret-color: #3701e8;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid white;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #fff;
}

.form-bg {
  background-image: url("../public/images/contact/mobile/bg-pattern-hero-contact-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

@media screen and (min-width: 768px) {
  .form-bg {
    background-image: url("../public/images/contact/desktop/bg-pattern-hero-desktop.svg");
    background-position-y: -12rem;
    background-position-x: -12rem;
    background-size: initial;
  }
}
@media screen and (min-width: 1024px) {
  .form-bg {
    background-image: url("../public/images/contact/desktop/bg-pattern-hero-desktop.svg");
    background-position-y: -8rem;
    background-position-x: -4rem;
    background-size: initial;
  }
}

.contact-bg {
  background-image: url("../public/images/shared/desktop/bg-pattern-leaf.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -82rem;
  width: 100.6rem;
  height: 59.4rem;
  z-index: -1;
  display: none;
}

@media screen and (min-width: 1024px) {
  .contact-bg,
  .about-design1,
  .about-design2 {
    display: block;
  }
}
